<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/homepage_layout}" >

<head>
    <title>Freelancer Profile</title>
    <link th:href="@{/css/freelancerHomepageStyling.css}" rel="stylesheet" >
    <link th:href="@{/css/freelancerProfilepageStyling.css}" rel="stylesheet">
</head>
<body>

<section class="company-homepage-body">
    <section layout:fragment="content">

        <div class="container">

            <!-- Profile Picture and Details -->
            <div class="profile-container">
                <!-- Header Section -->
                <div class="header text-center">
                    <h1 th:text="${freelancer.getFullName()} + ' Profile'"></h1>
                </div>

                <div class="text-center mb-4">
                    <img th:src="${profilePicturePath}" alt="freelancerProfilePicture" class="profile-pic img-fluid">
                </div>

                <!-- Company Details Form -->
                <form th:action="@{/handle-feelancer-profile-update/{id}(id=${company.getId()})}" method="POST" enctype="multipart/form-data">

                    <div class="mt-3 text-center">
                        <label for="companyPhotoFile" class="form-label">Change Profile Picture</label>
                        <input class="btn btn-outline-primary" type="file" id="companyPhotoFile" name="companyPhotoFile" accept=".jpg,.jpeg,.png,.gif" th:value="*{company.getProfilepicturename()}">
                    </div>
                    <br>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="companyName" class="form-label">Company Name</label>
                            <input type="text" class="form-control" id="companyName" name="companyName" th:value="*{company.getName()}" >
                        </div>
                        <div class="col-md-6">
                            <label for="companyWebsite" class="form-label">Company Website</label>
                            <input type="url" class="form-control" id="companyWebsite" name="companyWebsite" th:value="*{company.getWebsite()}">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="companyEmail" class="form-label">Company Email</label>
                        <input type="email" class="form-control" id="companyEmail" name="companyEmail" th:value="*{company.getEmail()}" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="companyPhonenumber" class="form-label">Company Phone number</label>
                        <input type="text" class="form-control" id="companyPhonenumber" name= "companyPhonenumber" th:value="*{company.getPhonenumber()}">
                    </div>

                    <div class="mb-3">
                        <label for="companyDescription" class="form-label">Company Description</label>
                        <textarea class="form-control" id="companyDescription" name= "companyDescription" rows="4" th:text="${company.getDescription()}"></textarea>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>

    </section>
</section>

</body>
</html>
