<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/base_layout}" >

<head>
    <title>Login</title>
</head>
<body>

<section class="the-form-body">

    <section layout:fragment="content">
        <div class="container">
            <div class="form-container">
                <h2 class="text-center" style="color: #1d3557;">
                    <img th:src="@{/images/logo.png}" alt="Company Logo">
                    <span>Company Login</span>
                </h2>
                <p class="instructions">
                    Welcome back to Connect Hub
                </p>
                <p th:text="${registrationMessage}"></p>
                <form action="/handle-login-company" method="POST" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="email">
                            Email <i class="bi bi-envelope-at-fill"></i> :
                        </label>
                        <input type="email" id="email" name="email" required>
                    </div>

                    <div class="form-group">
                        <label for="password">
                            Password <i class="bi bi-key-fill"></i> :
                        </label>
                        <input type="password" id="password" name="password" required>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">log in</button>

                    <div class="text-center mt-2">
                        <span>Don't Have an Account?
                            <a th:href="@{register-company}">Register</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </section>

</section>

</body>
</html>

