<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/homepage_layout}" >

<head>
    <title>Post A Project</title>
    <link th:href="@{/css/companyHomepageStyling.css}" rel="stylesheet" >
</head>
<body>

<section class="company-homepage-body">
    <section layout:fragment="content">

<!--code here-->

        <div class="container my-5">
            <h2 class="text-center mb-4">Post a Project</h2>
            <form th:action="@{/handle-post-a-project}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Project Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter project title" required>
                </div>

                <div class="form-group">
                    <label for="description">Project Description</label>
                    <textarea class="form-control" id="description" name="description" rows="5" placeholder="Describe the project" required></textarea>
                </div>

                <div class="form-group">
                    <label for="documentName">Document File Name</label>
                    <input type="text" class="form-control" id="documentName" name="documentName" placeholder="Enter document name (optional) ">
                </div>

                <div class="form-group">
                    <label for="documentFile">Upload Project File</label>
                    <input type="file" id="documentFile" name="documentFile" >
                </div>

                <div class="form-group">
                    <label for="skills">Skills Needed</label>
                    <input type="text" class="form-control" id="skills" name="skills" placeholder="Enter required skills" required>
                </div>

                <div class="form-group">
                    <label for="deadline">Project Deadline</label>
                    <input type="date" class="form-control" id="deadline" name="deadline" required>
                </div>

                <div class="form-group">
                    <label for="location">Project Location</label>
                    <input type="text" class="form-control" id="location" name="location" placeholder="Enter job location" required>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Post Job</button>
            </form>
        </div>

<!--        -->


    </section>
</section>

</body>
</html>
