<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/baseLayout}"
>
<head>
    <title>Register Company</title>
    <link th:href="@{/css/registrationForms.css}" rel="stylesheet">
</head>
<body>

<section layout:fragment="content" class="the-form-body">
    <div class="container">
        <div class="form-container">
            <h2 class="text-center" style="color: #1d3557;">
                <img th:src="@{/images/logo.png}" alt="Company Logo">
                <span>Company Registration</span>
            </h2>
            <p class="instructions">
                Welcome to Connect Hub company registration
            </p>
            <p th:if="${message != null}" th:text="${message}"></p>
            <form action="/handle-register-company" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Company Name <i class="bi bi-buildings-fill"></i> :</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="email">Email <i class="bi bi-envelope-at-fill"></i> :</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <label for="phonenumber">Phone Number <i class="bi bi-telephone-fill"></i> :</label>
                    <input type="tel" id="phonenumber" name="phonenumber" required>
                </div>

                <div class="form-group">
                    <label for="website">Company Website <i class="bi bi-globe2"></i> :</label>
                    <input type="url" id="website" name="website" required pattern="https?://.+">
                    <small>Please enter a valid URL starting with https://</small>
                </div>

                <div class="form-group">
                    <label for="companyPhotoFile">Company Photo <i class="bi bi-file-earmark-image-fill"></i> :</label>
                    <input type="file" id="companyPhotoFile" name="companyPhotoFile" accept=".jpg,.jpeg,.png,.gif">
                </div>

                <div class="form-group">
                    <label for="password">Password <i class="bi bi-key-fill"></i> :</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <small>
                    <span>
                        <input type="checkbox" id="showPassword" onclick="togglePassword()"> Show Password
                    </span>
                </small>

                <div class="form-group">
                    <label for="confirmPassword">Confirm Password <i class="bi bi-key-fill"></i>  :</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                </div>

                <div class="form-group">
                    <label for="description">Company Description (optional) <i class="bi bi-info-circle-fill"></i> :</label>
                    <textarea id="description" name="description" rows="2" placeholder="Enter company description here..."></textarea>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Register</button>

                <div class="text-center mt-2">
                        <span>Already Have an Account?
                            <a th:href="@{login-company}">log in</a>
                        </span>
                </div>

            </form>
        </div>
    </div>

    <script>
        function togglePassword() {
            let passwordInput = document.getElementById("password");
            let showPasswordCheckbox = document.getElementById("showPassword");

            // Toggle the type attribute
            if (showPasswordCheckbox.checked) {
                passwordInput.type = "text"; // Show the password
            } else {
                passwordInput.type = "password"; // Hide the password
            }
        }
    </script>

</section>

</body>
</html>