<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/freelancerHomepage_layout}" >

<head>
    <title>Freelancer Homepage</title>
    <link th:href="@{/css/freelancerHomepageStyling.css}" rel="stylesheet" >
    <link th:href="@{/css/view-and-apply-job.css}" >
</head>
<body>

<section class="company-homepage-body">
    <section layout:fragment="content">

        <section class="hero">
            <div class="container">
                <h1 th:text="'View & Apply Jobs, ' + ${freelancer.getFullName()} + '!'"></h1>
            </div>
        </section>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8">
                    <h1 th:text="${job.getTitle()}"></h1>

                    <div class="row">
                        <div class="col-md-6">
                                <ul>
                                    <li>
                                        <div>Area of Interest</div>
                                        <div>Engineer - Hardware</div>
                                    </li>
                                    <li >
                                        <div>Job Type</div>
                                        <div>Professional</div>
                                    </li>
                                </ul>
                        </div>
                        <div class="col-md-6">
                                <ul >
                                    <li>
                                        <div>Technology Interest</div>
                                        <div>*None</div>
                                    </li>
                                    <li >
                                        <div>Job Id</div>
                                        <div>1416920</div>
                                    </li>
                                </ul>
                        </div>
                    </div>

                    <p>This is the main content area where you can add text, images, or other elements.</p>
                </div>
                <div class="col-md-4">
                    <h3>Sidebar</h3>
                    <button class="btn btn-primary mb-3">Share</button>
                    <p>Some small content can go here, like links or additional information.</p>
                </div>
            </div>
        </div>






    </section>
</section>



</body>
</html>