<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/homepage_layout}" >

<head>
    <title>Company Homepage</title>
    <link th:href="@{/css/companyHomepageStyling.css}" rel="stylesheet" >
</head>
<body>

<section class="company-homepage-body">
    <section layout:fragment="content">

        <!-- Jobs Section -->
        <section class="container my-5">
            <h2 class="scheme-1" th:text="'Project with id, ' + ${project.getId()} + '!'"> </h2>

        </section>

        <!-- About Section -->
        <section class="about container my-5">
            <h2>Additional Stuffs</h2>
            <p class="scheme-1" th:text="${project.getTitle()}"> </p>
            <p class="scheme-1" th:text="${project.getLocation()}"> </p>
            <p class="scheme-1" th:text="${project.getSkills()}"> </p>
            <p class="scheme-1" th:text="${project.getDescription()}"> </p>
            <p class="scheme-1" th:text="${project.getProjectDocument().getDocumentUrl()}"> </p>
            <p class="scheme-1" th:text="${project.getProjectDocument().getDocumentName()}"> </p>
            <p class="scheme-1" th:text="${project.getDeadline()}"> </p>

            <form th:action="@{/handle-company-project-update/{id}(id=${project.getId()})}" method="POST" enctype="multipart/form-data">

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="title" class="form-label">Project Title</label>
                        <input type="text" class="form-control" id="title" name="title" th:value="*{project.getTitle()}" >
                    </div>
                    <div class="col-md-6">
                        <label for="documentName" class="form-label">Project Document Name</label>
                        <input type="text" class="form-control" id="documentName" name="documentName" th:value="*{project.getProjectDocument().getDocumentName()}" readonly>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="document" class="form-label">Document2</label>
                    <iframe th:src="@{${documentSrc}}" id="document" name="document" width="100%" height="600px"></iframe>
                </div>

                <div class="mb-3">
                    <label for="documentFile" class="form-label">Change Document</label>
                    <input type="file" class="form-control btn btn-outline-primary" id="documentFile" name="documentFile" accept="application/pdf" th:value="*{project.getDocumentName()}">
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="location" th:value="*{project.getLocation()}">
                </div>

                <div class="mb-3">
                    <label for="deadline">Project Deadline</label>
                    <input type="date" class="form-control" id="deadline" name="deadline" th:value="*{project.getDeadline()}">
                </div>


                <div class="mb-3">
                    <label for="skills" class="form-label">Skills</label>
                    <input type="text" class="form-control" id="skills" name= "skills" th:value="*{project.getSkills()}">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Project Description</label>
                    <textarea class="form-control" id="description" name= "description" rows="4" th:text="${project.getDescription()}"></textarea>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </section>





    </section>
</section>

</body>
</html>
