.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #1d3557;
}

.profile-container {
    margin-top: 30px;
    background-color: #fff;
    /*background: linear-gradient(to bottom, #d8e4f5, #e7ebf1);*/
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.form-label {
    font-weight: bold;
    color: #1d3557;
}