.fields-data_wrapper{
    background-color: #f4f4f4;
}

.fields-data_label{
    font-weight: 500;
    color: #457b9d;
}

.fields-data_value{
    font-family: Helvetica, serif;
    font-size: 17px;
}

.box {
    background-color: #f8f9fa; /* Light background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.social-links {
    display: flex;
    justify-content: space-around; /* Space icons evenly */
    align-items: center; /* Align icons vertically */
    margin-top: 10px;
}

.social-links a {
    font-size: 24px; /* Increase icon size */
    color: #333; /* Icon color */
    text-decoration: none; /* Remove underline */
}

.social-links a:hover {
    color: #007bff; /* Change color on hover */
}


