<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/freelancerHomepage_layout}" >

<head>
    <title>Freelancer Homepage</title>
    <link th:href="@{/css/freelancerHomepageStyling.css}" rel="stylesheet" >
</head>
<body>

<section class="company-homepage-body">
    <section layout:fragment="content">

        <section class="hero">
            <div class="container">
                <h1 th:text="'Explore Jobs, ' + ${freelancer.getFullName()} + '!'"></h1>
            </div>
        </section>

        <div class="container">

            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Keywords</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Keyword">
            </div>

            <div class="row g-3">
                <div class="col-sm">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control"  id="country" placeholder="contry" aria-label="country">
                </div>
                <div class="col-sm">
                    <label for="skill" class="form-label">Skill</label>
                    <input type="text" class="form-control" id="skill" placeholder="skill" aria-label="skill">
                </div>
                <div class="col-sm">
                    <label for="company" class="form-label">Company</label>
                    <input type="text" class="form-control" id="company" placeholder="company" aria-label="company">
                </div>
            </div>

            <div class="mt-3">
                <button type="button" class="btn btn-outline-primary"> <span><i class="bi bi-search"></i></span> Search </button>
                <button type="button" class="btn btn-secondary"> <span><i class="bi bi-x-circle"></i></span> Clear</button>
            </div>

        </div>


        <div class="container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Company</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Skills</th>
                    <th scope="col">Deadline (m/d/y)</th>
                    <th scope="col">Location</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="job : ${jobs}">
                    <th scope="row">
                        <a th:href="@{/view-and-apply-job/{jobId}(jobId=${job.getId()})}" th:text="${job.getTitle()}">
                            Prompt Engineer
                        </a>
                    </th>
                    <td th:text="${job.getCompany().getName()}">Perplexity</td>
                    <td th:text="${job.getSalary()}" >2000</td>
                    <td th:text="${job.getSkills()}" >CUDA, C++, Vhdl, Linux, GenAI, PSS</td>
                    <td th:text="${job.getDeadline()}" >06-03-2027</td>
                    <td th:text="${job.getLocation()}">Canada</td>
                </tr>
                </tbody>
            </table>
        </div>




    </section>
</section>



</body>
</html>